@import "../scss/utils/react.scss";
@import "../scss/components/w-forms";
@import "../scss/components/w-btn";
@import "../scss/components/w-card";

body {
  background: var(--c-bg-primary);
}

:host {
  padding: 20px;
}

.profile {
  &__header {
    @include text-default(0, 23px, 500, 20px, var(--c-text-primary));
    @include flexBox(flex, null, space-between, center, null);
    border-radius: var(--b-radius);
  }

  &__logout {
    margin-top: 20px;
  }
}

.logout-button {
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: var(--c-primary);
  font-size: var(--fs);
  position: relative;
  padding: 11px 30px;
  line-height: 19px;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  border: none;
  cursor: pointer;
  margin: 5px;
  border-radius: var(--b-radius);
  transition: var(--transition);
  color: var(--c-white);

  &._danger {
    background-color: var(--c-error);
    color: white;

    &:hover {
      background: var(--c-error-hover);
    }
  }
}

/*  AVATAR PHOTO STYLE  */
.avatar {
  border-radius: var(--b-radius-img);
  border: 1px solid var(--c-border);
  position: relative;
  margin: 0 auto;
  padding: 3px;

  &._profile {
    width: 60px;
    height: 60px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--b-radius-img);
  }

  &__upload {
    cursor: pointer;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 24px;
    height: 24px;
    border-radius: var(--b-radius-img);
    background: var(--c-primary);
    @include flexBox(flex, null, center, center, null);
    transition: var(--transition);
  }

  &__icon {
    color: var(--c-white);
    font-size: var(--fs);
  }
}