* {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 0 15px;
    &-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-item {
        margin: 0 15px;
        color: #ffffff;

        &:hover {
            color: #adb8c6;
        }
    }
}

.nav {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 100%;
    height: 60px;
    background-color: #1c1c1c;
}