.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background: #ffffff;
    padding: 30px 60px;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0px 0px 6px #f3f3f3;
    margin-top: 40px;

}
.cardHeader {
    display: flex;
    flex-direction: row;
    min-height: 60px;
    justify-content: space-between;
}

.title {
    font-size: 23px;
    font-weight: 500;
    color: #666666;
}

.button {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 16px;
    position: relative;
    padding: 11px 30px;
    line-height: 19px;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 8px;
    transition: .3s all ease-in-out;
    color: #ffffff;
}

.error {
    background-color: #e74c3c;
}

.primary {
    background-color: #256eff;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #666666;
    position: relative;
    background-color: #ffffff;
}

.avatarUpload {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 40px;
    bottom: 0px;
    width: 24px;
    height: 24px;
    background-color: #256eff;
    color: #ffffff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileBody {
    display: flex;
    flex-direction: column;
}

.form {
    position: relative;
    margin: 10px 0;
}

.formTitle {
    display: inline-block;
    color: #ffffff;
    font-size: 12px;
    line-height: 10px;
    letter-spacing: .3px;
    margin-bottom: 6px;
    font-weight: 500;
}

.textarea {
    height: 80px;
    background-color: #fcfdfe;
    border: 1px solid #f0f1f7;
    border-radius: 8px;
    color: #ffffff;
    font-size: 14px;
    line-height: 15px;
    transition: .3s all ease-in-out;
    width: 100%; 
    display: block;
    letter-spacing: .3px;
    padding: 10px;
}

.input {
    height: 42px;
    background-color: #fcfdfe;
    border: 1px solid #f0f1f7;
    border-radius: 8px;
    color: #000;
    font-size: 14px;
    line-height: 15px;
    transition: .3s all ease-in-out;
    width: 100%; 
    display: block;
    letter-spacing: .3px;
    padding: 10px;
}

.profileLogout {
    margin-top: 20px;
}