@font-face {
    font-family: 'Poppins';
    // src: url('client/fonts/1.woff2') format('woff2');
    src: url('/client/fonts/1.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('/client/fonts/2.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('/client/fonts/3.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('/client/fonts/5.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
