* {
    box-sizing: border-box;
}

.header { 
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    height: 60px;
    background-color: #1c1c1c;
}

.navbar {
    display: flex;
    padding: 0 15px;
    &-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-item {
        margin: 0 15px;
        color: #ffffff;

        &:hover {
            color: #adb8c6;
            cursor: pointer ;
        }
    }
}

.hamburger {
    &-item {
        color: #1c1c1c;
    }
    &__list {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        background-color: rgb(0, 0, 0 , .5);
        transition: all 1s ease-in-out;
    }

    &__icon {
        position: absolute;
        right: 40px;
        top: 20px;
        &-item{
            width: 20px;
            height: 2px;
            background-color: #ffffff;
            margin: 4px 0;
            
        }
    }
    &__hide {
        display: none;
        transition: all 1s ease-in-out;
    }

    &__wrapper {
        width: 300px;
        height: 100%;
        background-color: #ffffff;
        z-index: 999;
        display: flex; 
        align-items: center;
        flex-direction: column;
        padding-top: 30px;
    }

    &__link {
        color: #ffffff;
    }
}

.unactive {
    position: absolute;
    right: 0px;
    top: 5px;
    &:nth-child(2) {
        display: none;
    }

    &:nth-child(1) {
        transform: rotate(-45deg);
    }
    
    &:nth-child(3) {
        transform: rotate(45deg);
    }
}

@media screen and (max-width: 768px) {
    .header {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .hamburger__list {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 60px;
        z-index: 999;
        flex-direction: row;
    }

    .hamburger__icon-item {
        background-color: #ffffff;
    }
}